<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thaliapp"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        tools:node="merge">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action
                    android:name="android.intent.action.VIEW"/>
                <category
                    android:name="android.intent.category.DEFAULT"/>
                <category
                    android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="https"/>
                <data
                    android:scheme="thaliapp"/>
                <data
                    android:host="staging.thalia.nu"/>
                <data
                    android:path="/pizzas/"/>
                <data
                    android:path="/events/"/>
                <data
                    android:path="/pay/"/>
                <data
                    android:path="/members/photos"/>
                <data
                    android:path="/association/boards/"/>
                <data
                    android:path="/association/committees/"/>
                <data
                    android:path="/association/societies/"/>
                <data
                    android:pathPattern="/association/boards/.*/"/>
                <data
                    android:pathPattern="/association/committees/.*/"/>
                <data
                    android:pathPattern="/association/societies/.*/"/>
                <data
                    android:pathPattern="/events/.*/"/>
                <data
                    android:pathPattern="/members/photos/.*/"/>
                <data
                    android:pathPattern="/sales/order/.*/pay/"/>
            </intent-filter>
        </activity>
    </application>
</manifest>